<h1>Information</h1>
<div class="row-fluid" style="padding-top: 40px;">
  <div class="span7">
    {% form_for customer__cart post_method:update_info autocomplete:off %}
      {% hidden_field_tag "customer_cart[form_name]", 'update_info' %}
      <div class="form-wrap" style="padding: 20px; background-color: #DDD;">
        <div class="form">
          <div class="form-errors">
            {% error_messages_for customer__cart %}
          </div>
          <div class="row-fluid">
            <div class="span6">
              <label for="customer_cart_first_name">First Name</label>{% text_field "first_name", class:"text" %}
            </div>
            <div class="span6">
              <label for="customer_cart_last_name">Last Name</label>{% text_field "last_name", class:"text" %}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <label for="customer_cart_billing_address_country_code">Country</label>{% collection_select "billing_address.country_code", countries, "code", "name", class:"select" %}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <label for="customer_cart_billing_address_address1">Address</label>
              {% text_field "billing_address.address1", class:"text" %}
              {% text_field "billing_address.address2", class:"text" %}
              {% text_field "billing_address.address3", class:"text not-us-or-canada hide" %}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <label for="customer_cart_billing_address_city">City</label>{% text_field "billing_address.city", class:"text" %}
            </div>
            <div class="span4 us-or-canada us-only hide">
              <label for="customer_cart_billing_address_state">State</label>{% collection_select "billing_address.state", us_states, "code", "name", class:"select" %}
            </div>
            <div class="span4 us-or-canada canada-only hide">
              <label for="customer_cart_billing_address_state">State</label>{% text_field "billing_address.state", class:"text" %}
            </div>
            <div class="span4">
              <label for="customer_cart_billing_address_zip">Postal code</label>{% text_field "billing_address.zip", class:"text" %}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span6"><label for="customer_cart_email">Email</label>{% email_field "email", class:"text" %}</div>
            <div class="span6">
              <label for="customer_cart_phone_number">Phone</label>{% phone_field "phone_number", class:"text" %}
            </div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <label class="checkbox" for="customer_cart_email_opt_in">{% check_box "email_opt_in" %} Send email updates</label>
            </div>
          </div>
          <div class="form-submit">
            {% submit_tag "Continue", class:"submit-button" %}
          </div>
        </div>
      </div>
    {% endform_for %}
  </div>
  <div class="span5" style="border: 1px solid #ddd">
    <div style="border-bottom: 1px solid #ddd; padding: 20px">
      <h4>Your Order</h4>
      {% for customer__cart_item in customer__cart.items %}
        <div id="cart_item_{{customer__cart_item.id}}">
          <div class="row-fluid">
            <div class="span9">
              <strong>{{ customer__cart_item.product.name }}</strong>
              {% if customer__cart_item.quantity > 1 %}
                ({{ customer__cart_item.quantity }})
              {% endif %}
            </div>
            <div class="span3" style="text-align: right">
              <strong>{{ customer__cart_item.total_amount }}</strong>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div style="border-bottom: 1px solid #ddd; padding: 20px">
      <div class="row-fluid">
        <div class="span9">
          Subtotal
        </div>
        <div class="span3" style="text-align: right">
          {{ customer__cart.subtotal_amount }}
        </div>
      </div>
      <div class="row-fluid" style="color: #f04f23">
        <div class="span9">
          Discounts
        </div>
        <div class="span3" style="text-align: right">
          {{ customer__cart.discount_amount }}
        </div>
      </div>
      <div class="row-fluid">
        <div class="span9">
          Total
        </div>
        <div class="span3" style="text-align: right">
          {{ customer__cart.total_amount }}
        </div>
      </div>
    </div>
    <div class="row-fluid" style="padding: 20px">
      <div class="span9">
        <strong>Payment due</strong>
      </div>
      <div class="span3" style="text-align: right">
        <strong>{{ customer__cart.total_amount }}</strong>
      </div>
    </div>
  </div>
</div>
