
{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<div id="headline">
  <h2>{{ page.headline }}</h2>
  {% if page.has_author? %}
  {% include "page_byline" %}
  {% endif %}
</div>
{% endif %}

<div id="content">
  {% if page.ticketed_event.content.size > 0 %}
  <div id="intro" class="intro">
    {{ page.ticketed_event.content }}
  </div>
  {% endif %}

  <div class="event-detail">
    <div class="subhead">WHEN</div>
    <div class="subtext">
      {% if page.ticketed_event.is_multi_day? %}
      {{ page.ticketed_event.local_start_at | event_time }} - {{ page.ticketed_event.local_end_at | event_date }}
      {% else %}
      {{ page.ticketed_event.local_start_at | event_time }} - {{ page.ticketed_event.local_end_at | event_just_time }}
      {% endif %}
    </div>
  </div>

  {% if page.ticketed_event.has_venue? %}

  <div class="event-detail">
    <div class="subhead">WHERE</div>
    <div class="subtext">
      {% if page.ticketed_event.venue_name.size > 0 %}
      {{ page.ticketed_event.venue_name }}<br/>
      {% endif %}
      {% for line in page.ticketed_event.venue_address.multi_line %}
      {{ line }}<br/>
      {% endfor %}
      {% if page.ticketed_event.has_venue_address? %}
      <a href="{{ page.ticketed_event.venue_address.google_map_link }}">Google map and directions</a>
      {% endif %}
    </div>
  </div>

  {% endif %}

  {% if page.ticketed_event.has_contact? %}

  <div class="event-detail">
    <div class="subhead">CONTACT</div>
    <div class="subtext">
      {{ page.ticketed_event.contact_name }}
      {% if page.ticketed_event.has_public_contact_email? %}
      &middot; {{ page.ticketed_event.contact_email | enkode_email }}
      {% endif %}
      {% if page.ticketed_event.has_public_contact_phone_number? %}
      &middot; {{ page.ticketed_event.contact_phone_number }}
      {% endif %}
    </div>
  </div>

  {% endif %}

  {% form_for add_to_cart %}
    <div class="form-wrap">
      <div class="form">
        <h4>Will you come?</h4>
        {% if request.logged_in? == false %}
          <span>Already bought tickets? <a href="{{ page.login_url_with_redirect_back }}">sign in</a></span>
        {% endif %}
        <div class="form_errors">{% error_messages_for add_to_cart %}</div>
        {% for ticket_level in page.ticketed_event.ticket_levels %}
          <div class="row-fluid padtopmore ticket-level">
            <div class="span6">
              <strong>{{ ticket_level.name }}</strong>
              {% if ticket_level.description.size > 0 %}
                <br/>
                {{ ticket_level.description }}
              {% endif %}
              <br/>Tickets remaining: {{ ticket_level.inventory }}
            </div>
            <div class="span3 center">
              {% if ticket_level.sold_out? %}
                <strong>sold out</strong>
              {% else %}
                <strong>{{ ticket_level.form_quantity }}</strong>
              {% endif %}
            </div>
            <div class="span3 center">
              {{ ticket_level.unit_price_in_cents | currency_with_cents}}
            </div>
          </div>

        {% endfor %}

        <!-- This is a copy from the events page that needs to be finished
        {% if page.event.is_hosts? or request.current_recruiter %}
          <label for="order_recruiter_id" class="padtopmore">Did a host refer you?</label>
          <select name="order[recruiter_id]">
            <option value="">No</option>
            {% if request.current_recruiter %}
              <option value="{{ request.current_recruiter.id }}" selected>{{ request.current_recruiter.published_name }}</option>
            {% endif %}
            {% for host in page.event.hosts %}
              <option value="{{ host.signup_id }}">{{ host.name }}</option>
            {% endfor %}
          </select>
        {% endif %}
        -->

        <div class="padtopmore">
          {% submit_tag "Purchase", class:"submit-button" %}
          <div class="form-submit"></div>
        </div>
      </div>
    </div>
  {% endform_for %}
</div>
