// general success and error colors
$red: #b94a48;
$green: #619114;

$brown: #766341;
$burgundy: #601B28;
$orange: #c63;
$turquoise: #3A6F8F;
$tan: #d4c89e;
$grey: #ccc;
$ltgrey: #f2f2f2;
$charcoal: #656565;
$orange: #c63;
$red: #5C8726;
$green: #5C8726;
$bhagreen: #708770;
$black: #000;
$white: #fff;

$facebook: #3b5998;
$twitter: #00aced;

$header-color: #fff;
$header-text-color: #000;

$site-bg: #6E9BC5;
$site-color: $white;
$desktop-site-bg: #6E9BC5;
$desktop-site-color: $white;

// custom colors
$theme-color-1: $bhagreen;
$theme-color-2: $black;
$theme-color-3: $tan;
$theme-color-4: $site-bg;




$onecolumn-bg: white;
$twocolumn-color: #000;
$footer-bg: $charcoal;
$headline-weight: 500;
$check_radio_sheet: url(check_radio_sheet_navy.png);
$progress: #ffa38a;
$headline-transform: none;
$opaque-bg-rgb: rgb(212, 200, 158);
$opaque-bg-rgba: rgba(212, 200, 158, 0.8);
$share-bar-bg: transparent;
$icon-button-bg: $grey;
$icon-button-border: 2px solid #f93c04;
$icon-button-color: #fff;
$byline-image-border: $orange;
$delete: $orange;
$delete-border: 2px solid $orange;
$follow: #d4c89e;
$follow-color: $grey;
$follow-border: 2px solid #000;

//Featured Content Slider
$flex-color: $white;
$flex-background: transparent;
$features-headline-color: $white;

//Supporter Nav Buttons
$supporter-nav-button-one: $bhagreen;
$supporter-nav-color-one: $white;
$supporter-nav-button-two: $burgundy;
$supporter-nav-color-two: $white;
$supporter-nav-button-three: $tan;
$supporter-nav-color-three: $white;
$feature-border: 0;
$supporter-nav-button-border: 0;
$theme-color-5: rgba(141, 207, 215, 0.6);

@mixin transparent-bg(){
  background: $opaque-bg-rgb;
    background: $opaque-bg-rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)";
}
